/*
    CapybaraClean CSS
    Version:    1.0.0
    Creator(s): JINXZ

    Links:
        Krunker Hub: https://krunker.io/social.html?p=clan&q=capy
        Discord:     https://discord.gg/xKWc9g6JVR


    Contact: JINXZ#9281 on Discord

    If you reuse anypart of this code make sure to mention me.
*/
@import url();